@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
  background-color: black;
  overflow: hidden;
  font-family: 'Roboto';
  margin: 50% 0 0 0;
  position: relative;
 
}
.text-animation {
display: flex;
height: 100%;
width: 60%;
margin: 0 auto;
perspective: 450px;
animation-iteration-count: infinite;
}

.scroll-text{
  color:#ffc909;
  font-size: 3vw;
  line-height: 70px ;
  font-weight: bold;
text-align: justify;
position: relative;
animation: scroll 30s linear forwards;
}
h1, h2{
  text-align: center;
}
@keyframes scroll {
from { top: 0; transform: translateZ(0) rotateX(20deg)}
to { top: -7500px; transform: translateZ(-2500px) rotateX(21deg) }
}
